@import '../../../styles/colors.less';
@import '../../../styles/fonts.less';

.tabs {
  display: flex;

  height: 100%;

  flex-direction: column;

  overflow: hidden;

  background-color: @background;
}

.tab-list {
  display: flex;

  position: relative;

  z-index: 10;

  margin: 0;

  padding: 0;

  flex-direction: row;

  background-color: @background;

  border-bottom: 1px solid @lightBackground;

  box-shadow: 0 0 4px 4px fade(black, 15%);

  list-style-type: none;
}

.tab {
  display: flex;

  padding: 8px 16px;

  fill: @darkForeground;

  color: @darkForeground;
  font-weight: bold;
  font-size: x-large;
  font-family: @RobotoSlab;

  cursor: pointer;

  &:focus {
    outline: 1px solid @foreground;
  }

  &:hover {
    color: @foreground;
    background-color: lighten(@background, 2.5%);
  }

  &.selected {
    fill: @foreground;
    color: @foreground;
    background-color: @lightBackground;
    cursor: default;
  }
}

.tab-panel-container {
  min-height: 0;
}

.tab-panel {
  height: 100%;
  flex: 1;
}
